<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">




      <div class="site-wrap">
        <!-- <header id="header"> -->
          <%= render "/refinery/header" -%>
        <!-- </header> -->

        <div class="push-wrap">
          <%= site_bar -%>
          <a href="#" class="toggle-nav">❯❯ MENU</a>
          <%= yield %>
          <footer>
            <%= render "/refinery/footer" -%>
          </footer>
        </div>



<script>
  window.onload = function () {
    $(function() {
        $('.toggle-nav').click(function() {
          $('body').toggleClass('show-nav');
          return false;
        });

      });
  };
</script>

    <!-- </div> -->
    <%= render "/refinery/javascripts" %>
  </body>
</html>
